.nav{
    list-style: none;
    background-color: #c04d11;
    color: #fff;
    width: 996px;
    display: block;
    padding: .7% 2%;
    margin: 0 auto;
    height: 30px;
}


.navlinks{
    list-style-type: none;
    background-color: #c04d11;
    color: #fff;
    width: 121px;
    float: left;
    padding: .5% 2%;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    font-family: 'Trykker', serif;
}

.navlinks:link{
	color: #fff;
	background-color: #c04d11;
        
}

.navlinks:visited{
    color: #fff;
    background-color: #c04d11;
}

.navlinks:hover{
    color: #f59868;
    background-color: #c04d11;
}

header{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FADBCA;
}

.container{
    background-color: #fff;
    padding: 2%;
    margin: 0;
    width: 69.2%
}

.home_img{
    margin: 10px;
}

footer{
    background-color: #c04d11;
    color: #fff;
    width: 996px;
    display: block;
    padding: .5% 2%;
    margin: 0 auto;
    font-family: 'Trykker', serif;
}

.gallery{
    border: solid #f59868 4px;
    margin: 10px;
}

form {
background: linear-gradient(top, #fff, #f8f8f8);
margin: 0 0 20px 0;
padding: 20px;
width: 212px;
}

label{
    margin: 10px 0px;
}

input, textarea{
    margin: 1px 0px 10px 0px;
}

input{
    height: 30px;
}

.button{
    width: 185px;
    height: 50px;
    margin: 10px 0px;
    color: #fff;
    background-color: #c04d11;
    border: none;
}

.button:hover{
    color: #f59868;
}

input:focus,textarea:focus,select:focus{
border: solid 1px #c04d11;
 -webkit-box-shadow:0 0 6px #c04d11;
 -moz-box-shadow:0 0 5px #c04d11;
 box-shadow:0 0 5px #c04d11;
}

#map_canvas{
    width: 700px;
    height: 300px;
    border: solid 2px #f59868;
}
