

body{
	font-family: 'Tauri', sans-serif;
	font: 100%;
	background-color: #bf5140;
	color: #000;
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
	box-shadow: 12px 0 15px -4px #68020d, -12px 0 8px -4px #68020d;
	-moz-box-shadow: 12px 0 15px -4px #68020d, -12px 0 8px -4px #68020d;
	-webkit-box-shadow: 12px 0 15px -4px #68020d, -12px 0 8px -4px #68020d;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 5px  #882607;
}

#wrapper{
	width: 100%;
	background-color: #d9aa71;
	padding: 2.0833333%; /* 20px */
	margin-top: 0;
}

#banner{
	width: 100%;
	display: block;
	background-color: #882607;
	padding: 2.0833333%; /* 20px */
	margin: 0;
}

h1{
	font-family: 'Rye', cursive;
	color: #bf5140;
	font-size: 3em;
}

h2{
	font-family: 'Rye', cursive;
	color: #882607;
	font-size: 2em;
}

.nav{
	list-style-type: none;
	height: 30px;
	width: 100%;
	margin: 0 auto;
	padding: 0 2.0833333%;
	overflow: hidden;
	background-color: #68020d;
}

.navlinks{
	width: 16.6666667%;
	float: left;
	display: block;
	text-decoration: none;
	text-align: center;
	height: 30px;
	line-height: 30px;
	white-space: nowrap;
}

.navlinks:link{
	color: #d9aa71;
	background-color: #68020d;
}

.navlinks:visited{
    color: #d9aa71;
    background-color: #68020d;
}

.navlinks:hover{
    color: #bf5140;
    background-color: #68020d;
}

#footer{
	width: 100%;
	display: block;
	background-color: #882607;
	padding: 2.0833333%; /* 20px */
	margin: 0;
}

form{
    margin: 5%;
    line-height: 1.7em;
    width: 33.333333%; /*320px;*/
}

input{
    float: right;
}

select{
    float: right;
}






	
/*---------------------------media queries------------------------------*/

@media screen and (min-width: 768px) and (max-width: 959px){
	body{
        font-size: .9em;
    }
    
        h1{
        font-size: 1.5em;
    }
    
	h2{
        font-size: 1.2em;
    }
    
	h3{
        font-size: 1.1em;
    }
}
	
@media only screen and (min-width: 480px) and (max-width: 767px){
	body{
        font-size: .8em;
    }
    
        h1{
        font-size: 1.2em;
    }
    
	h2{
        font-size: 1.0em;
    }
    
	h3{
        font-size: .9em;
    }
}

@media only screen and (max-width: 479px){
	body{
        font-size: .75em;
    }
    
        h1{
        font-size: 1.2em;
    }
    
	h2{
        font-size: 1.0em;
    }
    
    	h3{
        font-size: .9em;
    }
}